# YouTube API Key (Required)
YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY_HERE

# Frontend Public API URL (For Web Deployment, e.g. https://api.yourdomain.com)
NEXT_PUBLIC_API_URL=http://localhost:3001

# Backend Server Port
PORT=3001

# Allowed CORS Origin
ALLOWED_ORIGIN=*

# Max Concurrent Active Downloads
MAX_CONCURRENT_DOWNLOADS=5
